@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

.users{
    background-color: #fff;
    width: 100%;
}


.all-tickets{
    background-color: #FFFFFF;
    margin: 50px 33px 30px 30px;
    height: 942px;
    border: 1px solid #DFE0EB;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    text-align: left;
    .tickets-title{
        font-size: 19px;
        font-family: 'Mulish', sans-serif;
        font-weight: 700;
        line-height: 23.85px;
        letter-spacing: 0.4px;
        color:#252733;
        padding: 32px 0px 32px 32px;
    }
    .inputNat{
        width: 197.12px;
        height: 40px;
        padding: 0px;
        margin-top: 19px;
        margin-right: 19px;
        padding: 9px 0px 11px 9.42px;
        border: 1px solid #DFE0EB;
        font-size: 14px;
        font-family: 'Mulish', sans-serif;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.2px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
}
    .tableRow{
        border-bottom: 1px solid #DFE0EB;
    }
    .headingTable{
        text-align: left;
        border-bottom: 1px solid #DFE0EB;
        .tableHeadCell{
            text-align: left;
            font-size: 14px;
            height: 18px;
            font-weight: 700;
            font-family: 'Mulish', sans-serif;
            line-height: 17.57px;
            letter-spacing: 0.2px;
            color: #9FA2B4;
            padding: 0px;
            padding-bottom: 12px;
            &:nth-child(1){
                padding-left: 32px;
            }
        }
    }
    .tableCell{
        padding: 0px;
        text-align: left;
        .thumbnail-img{
            width: 44px;
            height: 44px;
            margin: 24px 24px 22px 32px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
        }
        &:nth-child(1){
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            p, span{
                width:372px;
                height: 20px;
                // display: block;
            }
        }
        &:nth-child(2){
            padding: 0px 0px 0px 0px;
            p, span{
                width:208px;
                height: 20px;
            }
        }
        &:nth-child(3){
            p, span{
                width:140px;
                height: 20px;
            }
        }
        &:nth-child(4){
            p, span{
                width:140px;
                height: 20px;
            }
        }
        .part-one{
            margin-top: 10px;
            margin-bottom: 10px;
            margin: 0px;
            font-size: 14px;
            font-family: 'Mulish', sans-serif;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0.2px;
            color:#252733;
        }
        .part-two{
            width:372px;
            font-size: 12px;
            font-family: 'Mulish', sans-serif;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0.1px;
            color: #C5C7CD;
        }
    }
}