

.sidebar{
    // position: fixed;
    // top:0;
    // left:0;
    // bottom:0;
    height: 100vh;
    .logo-img{
        margin:37px 70px 77px 54px;
    }
    ul {
        padding: 0;
    }
    .sidebarList{
        font-family: 'Mulish', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 20.08px;
        letter-spacing: 0.2px;
        text-align-last: left;
        li{
            color:#A4A6B3;
            list-style-type: none;
            box-sizing: border-box;
            padding:18px 0px 18px 32px;
            img{
                width: 16px;
                height: 15.67px;
                margin-bottom: 6px;
                color:red;
            }
            p{
                display: inline-block;
                margin:0px 24px;
                padding:0px;
                width: 157px;
                height: 20px;
            }
            &:hover{
                color:#DDE2FF;
                background-color: #494950;
            }
        }
        li.activeLi{
            color:#DDE2FF;
            background-color: #494950;
            border-left: 2px solid #DDE2FF;
        }
    }
    
    
}





