
// mixins
@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}
@mixin fontFeatures($fontSz, $fontWght, $fontFmly, $lineHght, $letterSpc) {
  font-size: $fontSz;
  font-weight: $fontWght;
  font-family: $fontFmly, sans-serif;
  line-height: $lineHght;
  letter-spacing: $letterSpc;
}
.sidebar {
  height: auto;
  width: 255px;
  background-color: #363740;
  .logo-img {
    margin: 37px 70px 50px 54px;
  }
  ul {
    padding: 0;
  }
  .sidebarList {
    @include fontFeatures(16px, 400, "Mulish", 20px, 0.2px);
    text-align-last: left;
    li {
      color: #a4a6b3;
      list-style-type: none;
      box-sizing: border-box;
      padding: 18px 0px 18px 32px;
      img {
        width: 16px;
        height: 15.67px;
        margin-bottom: 6px;
      }
      p {
        display: inline-block;
        margin: 0px 24px;
        padding: 0px;
        width: 157px;
        height: 20px;
      }
      &:hover {
        color: #dde2ff;
        background-color: #494950;
      }
    }
    li.activeLi {
      color: #dde2ff;
      background-color: #494950;
      border-left: 2px solid #dde2ff;
    }
  }
}
